.imagem-carrossel {
    object-fit: cover;
    height: 600px;
}



.primary-color {
    background-color: #FE8D00;
}

.text-primary-color {
    color: #FE8D00;
}

.secondary-color {
    background-color: #02084B
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.bg-image-blur {

  filter: blur();
  -webkit-filter: blur(2px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}